# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Indentation override for all JS under custom_js directory
[custom_js/**.js]
indent_style = space
indent_size = 4
