---
layout: page
---

<div class="breadcrumbs">
  <div class="breadcrumb-item"><a href="{{ 'archives' | relative_url }}" class="breadcrumb-icon">Archives</a></div>
  <div class="breadcrumb-item breadcrumb-item--active">{{ page.title }}</div>
</div>

<div class="posts">
  {% for post in page.posts %}
  <!-- Look the author details up from the site config. -->
    {% assign author = site.data.authors[post.author] %}
    {% render 'post_summary' site: site, post: post, author: author %}
  {% endfor %}
</div>

<div class="page-top">
  <a href="#top" class="top" title="Go to the top of the page">↑ Back to top</a>
</div>
