---
layout: page
---

{% assign this_year = page.date | date: "%Y" %}

<div class="breadcrumbs">
  <div class="breadcrumb-item"><a href="{{ 'archives/' | relative_url }}" class="breadcrumb-item-link breadcrumb-icon">Archives</a></div>
  <div class="breadcrumb-item breadcrumb-item--active">{{ this_year }}</div>
</div>

<div class="posts">
  {% for post in page.posts reversed %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}

    {% if forloop.first %}
      <h2 id="{{ this_month }}-ref">{{this_month}}</h2>
      <ul class="list-unordered">
    {% endif %}
      <li class="archives-link"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% if forloop.last %}
        </ul>
      {% else %}
        {% if this_month != next_month %}
        </ul>
        <h2 id="{{ next_month }}-ref">{{next_month}}</h2>
        <ul class="list-unordered">
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="page-top">
  <a href="#top" class="top" title="Go to the top of the page">↑ Back to top</a>
</div>
