<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js" data-theme="light">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">
  {% if page.title %}
    {% assign page_title = page.title | append: ' – ' | append: site.metadata.title %}
  {% else %}
    {% assign page_title = site.metadata.title | append: ' – ' | append: site.metadata.tagline %}
  {% endif %}
  <title>{{ page_title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ site.metadata.tagline }}">
  {% if page.author %}
  <meta name="twitter:creator" content="@{{ page.author }}">
  <meta name="twitter:title"   content="{{ page.title }}">
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.metadata.tagline }}">
  {% endif %}
  <meta name="twitter:image" content="{{ site.metadata.logo | absolute_url }}">
  <meta name="twitter:card"  content="summary">
  {% endif %}
  <meta name="theme-color" content="#ffffff"/>
  <meta name="color-scheme" content="dark light">
  <link rel="canonical" href="{{ site.metadata.canonical_url }}{{ page.url | replace:'index.html', ''}}">
  {% feed_meta %}
  <link media="screen" rel="stylesheet" href="{% webpack_path css %}" />
  {% if bridgetown.environment == 'production' %}
    {% assign img_url = 'images' | relative_url %}
  {% else %}
    {% assign img_url = 'images/dev' | relative_url %}
  {% endif %}
  <link rel="icon" href="{{ img_url }}/favicon.ico" />
  <link rel="icon" href="{{ img_url }}/favicon-196.png" sizes="196x196" />
  <link rel="icon" href="{{ img_url }}/favicon-96.png" sizes="96x96" />
  <link rel="icon" href="{{ img_url }}/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="{{ img_url }}/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="{{ img_url }}/favicon-128.png" sizes="128x128" />
  <link rel="manifest" href="{% link assets/manifest.json %}">
  <script>
    if (
          localStorage.getItem('data-theme') == 'dark' ||
            (
              window.matchMedia('(prefers-color-scheme: dark)').matches &&
              !localStorage.getItem('data-theme')
            )
        ) {
          document.documentElement.setAttribute('data-theme', 'dark');
    }
</script>
</head>
  <body>
    <div id="top" class="wrapper">
      {% render "topbar" site: site %}

      <main role="main" class="main-container">
        {{ content }}
      </main>

      {% render "footer" site: site %}
    </div>

    <script src="{% webpack_path js %}" defer data-proofer-ignore></script>
  </body>
</html>
