---
layout: default
permalink: /archives/
---

<div class="page-archive">
  <div class="archives-header">
    <h1>Archives</h1>

    <div class="article-excerpt">Welcome to the archives. Here you can find all of the posts made over the
        years, the most popular stuff, the bad, the ugly and the usefull.</div>
  </div>

  <div class="archives archives-spacing">
    <span class="section-title">Last 10 Posts</span>
    <ol class="list-ordered" start="1" type="1">
      {% for post in site.posts limit:10 offset:0 %}
      <li class="archives-link">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ol>
  </div>

  <div class ="archives archives-spacing">
    <span class="section-title">By Categories</span>
    <ul class="list-unordered">
    {% for category in site.categories %}
      {% assign cat = category | first | downcase | replace: ' ', '-' %}
      <li class="archives-link"><a href="{{ 'archives/' | append: cat | relative_url }}">{{ category | first }}</a><span class="archives-complement">({{ category | last | size }})</span></li>
    {% endfor %}
    </ul>
  </div>

  <div class ="archives">
    <span class="section-title">By month</span>
    {% assign counter = 0 %}
    {% for post in site.posts %}
      {% assign thisyear = post.date | date: "%B %Y" %}
      {% assign prevyear = post.previous.date | date: "%B %Y" %}
      {% assign counter = counter | plus: 1 %}
      {% if thisyear != prevyear %}
        <span class="archives-link"><a href="{{ 'archives/' | relative_url }}{{ post.date | date:"%Y" }}/{{ post.date | date:"%m" }}">{{ thisyear }}</a><span class="archives-complement">({{ counter }})</span></span>
        {% if forloop.last == false %}
          |&nbsp;
        {% endif %}
        {% assign counter = 0 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
