---
layout: page
permalink: /authors/
---

<h1>Authors</h1>
<div class="post-excerpt">Here is all the beautifull people that are contributing to this blog.</div>

<div class="authors">
  {% for author in site.data.authors %}
  {% assign member = author[1] %}
  {% if member.display == false %}
    {% continue %}
  {% endif %}
  <div class="author">
    <div class="author__avatar">
      <a href="{{ member.permalink | relative_url }}">
        <img src="{{ member.avatar }}" class="avatar avatar--size" alt="{{ member.name }}">
      </a>
    </div><!-- End of author__avatar -->
    <div class="author__links">
      {% if member.twitter %}
      <a href="https://www.twitter.com/{{ member.twitter }}">
        <img src="/images/twitter.svg" width="32" height="32" alt="Twitter: @{{ member.twitter }}">
      </a>
      {% endif %}
      {% if member.web.link %}
      <a href="{{ member.web.link }}">
        <img src="/images/icon-web.svg" width="32" height="32" alt="Personal website: {{ member.web.handle }}">
      </a>
      {% endif %}
    </div><!-- End of author__links -->
    <div class="author__name">
      <div><a href="{{ member.permalink | relative_url }}" class="primary-link">{{ member.name }}</a></div>
    </div><!-- End of author__name -->
    <div class="author__bio">
      <div class="post-excerpt">{{ member.description | truncate: 250, "..." }}</div>
    </div><!-- End of author__bio -->
    <div class="author__posts">
      {% assign counter = 0 %}
      {% for post in site.posts %}
        {% if member.handle == post.author %}
          {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% endfor %}
      <span class="author__posts-count">{{ counter }}</span>
      Articles
    </div><!-- End of author__posts -->
  </div><!-- End of member -->
  {% endfor %}
</div><!-- End of authors -->
