/**
/**
Name: tags.scss
Description: Styles for tags.
*/

.tags {
  margin-top: 1em;
  font-size: .8em;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tag-item {
  margin-right: .5em;
  background-color: var(--tag-bg-color);
  border-radius: 5%;
  margin-top: .5em;
  padding: .5em;
  text-decoration: none;
}

.tag-item:hover {
  background-color: var(--tag-hover-bg-color);
}

a.tag-link:link,
a.tag-link:hover,
a.tag-link:visited {
  color: var(--tag-color);
  text-decoration: none;
}

@media all and (min-width: 47em) {

  .tags {
    font-size: 1em;
  }

}
