<!-- footer -->
<div class="footer">

  <div class="footer-sections">
    <div class="footer-column">
      <h3 class="footer-column-title">LATEST POSTS</h3>
      <ul class="list-unstyled">
        {% for post in site.posts limit:5 %}
          <li><a href="{{ post.url | relative_url }}" class="footer-link" title="{{ post.title }}">{{ post.title | truncate: 60, '...' }}</a></li>
        {% endfor %}
      </ul>
    </div><!-- end of footer column -->

    <div class="footer-column">
      <h3 class="footer-column-title">MENU</h3>
      <ul class="list-unstyled">
        <li><a href="/" class="footer-link">Articles</a></li>
        <li><a href="{% link _pages/archives.html %}" class="footer-link">Archives</a></li>
        <li><a href="{% link _pages/authors.html %}" class="footer-link">Authors</a></li>
        <li><a href="" class="footer-link">RSS feed</a></li>
        <li><a href="{% link _pages/styleguide.html %}" class="footer-link">Styleguide</a></li>
      </ul>
    </div><!-- end of footer column -->

    <div class="footer-column">
      <h3 class="footer-column-title">CATEGORIES</h3>
      <ul class="list-unstyled">
      {% for category in site.categories limit:8 %}
        {% assign cat = category | first | downcase | replace: ' ', '-' %}
        <li>
          <span class="footer-hastgag">#</span><a href="{{ 'archives/' | append: cat | relative_url }}" class="footer-link">{{ category | first }}&nbsp;({{ category | last | size }})</a>
        </li>
      {% endfor %}
      </ul>
    </div><!-- end of footer column -->

  </div><!-- end of footer sections -->

  <div class="footer-disclaimer">
    Copyright &copy; {{ site.time | date: '%Y' }} - All this site's content under a <a rel="license" class="footer-disclaimer-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
  </div><!-- end of footer disclaimer -->
</div><!-- end of footer -->
