<!-- footer -->
<div class="footer">
  <div class="footer-disclaimer">
    Copyright &copy; {{ site.time | date: '%Y' }} - All this site's content under a
    <a
      rel="license"
      class="footer-disclaimer-link"
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
  </div>
  <!-- end of footer disclaimer -->
</div>
<!-- end of footer -->